# Add users working with jupyterhub to jupyter group
# sudo usermod -a -G jupyter userName

Cmnd_Alias JUPYTER_CMD = {{jupyterhub_python_base_dir}}/bin/sudospawner

jupyter ALL=(%jupyter) NOPASSWD:JUPYTER_CMD
